<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cognitusapps.vibes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Vibes</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="19" />
        <config-file parent="/resources" target="./res/values/strings.xml">
            <string name="fb_app_id">2192681937654200</string>
            <string name="fb_app_name">Vibes - Dev</string>
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
        <string>Vibes needs to access your location to show you what's happening nearby</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>Vibes needs camera access so you can take photos of your vibes</string>
    </edit-config>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <plugin name="cordova-plugin-facebook4" spec="^2.5.0">
        <variable name="APP_ID" value="2192681937654200" />
        <variable name="APP_NAME" value="Vibes - Dev" />
        <variable name="FACEBOOK_ANDROID_SDK_VERSION" value="4.+" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="com-sarriaroman-photoviewer" spec="^1.1.18" />
    <engine name="ios" spec="^4.5.5" />
    <plugin name="cordova-plugin-camera" spec="https://github.com/apache/cordova-plugin-camera.git" />
    <engine name="browser" spec="~5.0.4" />
    <engine name="android" spec="~7.1.4" />
</widget>
